/* findPorosity.css */
/* Add your custom styles for the Find Porosity page below */
h1 {
    font-family: Rockwell;
    font-size: 50px;
    color: #000000;
    margin-left: 40px;}

body {
    font-family: Rockwell, sans-serif;
    background: #ffed4a;
    color: #222;
    margin: 0;
    padding: 0;
}

