/* index.css - Main stylesheet for www.kzar.com */

/* Example base styles */
h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 80px;
    color: #000000;
    text-align: center;
    width: 100%;
    padding-bottom: 10%;
    margin:0;
}

p {
    font-family: 'Franklin Gothic Medium';
    font-size: 16px;
    color:#000000;
    text-align: center;
    margin: 50px;
}

.logo-container {
    width: 5px;
    height: 5px;
    display: block;
    margin: 0 auto;
}
body {
    margin: 10px;
    padding: 0;
    font-family: Rockwell;
    background-color: #feb0e4;
    color: #000000;
    text-align: center;
   ;
}

header {
    background: #f35ab9;
    color: #000;
    padding: 0px 0;
    text-align: center;
    margin: 0;
}

h3 {
    margin: 0%;
}

.corner-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: auto;
    z-index:1000;

}
footer {
  position: relative;
  background-color:#f35ab9;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2px 0;
  margin: 0;
}

.footer-content {
    position: relative;
    height:100%;
}

.footer-logo {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: auto;
}
.right-corner-image {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: auto;
    z-index:1000;

}

